<nav class="smallfont">
    <ul class="nav">
        <li>
            <a href="/mexico-flights/">Mexico Flights</a>
        </li>\

        <li>
            <a href="/mexico-flights/tulum-mexico/">Tulum Mexico</a>
        </li>
        <br>
        <h3>Flights to Mexico City</h3>

        <li>

            <a href="/mexico-flights/Flights-from-LAX-to-Mexico-City/">Flights from LAX to Mexico City</a>

        </li>


        <li>

            <a href="/mexico-flights/Flights-from-Tijuana-to-Mexico-City/">Flights from Tijuana to Mexico City</a>

        </li>


        <li>

            <a href="/mexico-flights/Houston-to-Mexico-City-Flights/">Houston to Mexico City Flights</a>

        </li>


        <li>

            <a href="/mexico-flights/Flights-from-Denver-to-Mexico-City/">Flights from Denver to Mexico City</a>

        </li>


        <li>

            <a href="/mexico-flights/Flights-From-Austin-to-Mexico-City/">Flights From Austin to Mexico City</a>

        </li>


        <li>

            <a href="/mexico-flights/Flights-to-Mexico-City-From-Phoenix/">Flights to Mexico City From Phoenix</a>

        </li>

        <li>

            <a href="/mexico-flights/Flights-From-NYC-to-Mexico-City/">Flights From NYC to Mexico City</a>

        </li>


    </ul>
</nav>
