<nav class="smallfont">
    <ul class="nav">
        <li>
            <a href="/australia-flights/">Australia Flights</a>
        </li>

















    

<li>
     
 <a href = "/australia-flights/Flights-from-LAX-to-Australia/">Flights from LAX to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Hawaii-to-Australia/">Flights from Hawaii to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-New-Zealand-to-Australia/">Flights from New Zealand to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/New-York-to-Australia-Flight/">New York to Australia Flight</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Miami-to-Australia/">Flights from Miami to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Guam-to-Australia/">Flights from Guam to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Florence-to-Australia/">Flights from Florence to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Egypt-to-Australia/">Flights from Egypt to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Denver-to-Sydney/">Flights from Denver to Sydney</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-the-USA-to-Australia/">Flights from the USA to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-St.-Louis-To-Australia/">Flights From St. Louis To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-South-Africa-To-Australia/">Flights From South Africa To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-South-America-To-Australia/">Flights From South America To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-Chile-to-Australia/">Flights From Chile to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-To-Australia-From-Uk/">Flights To Australia From Uk</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-To-Australia-From-Chicago/">Flights To Australia From Chicago</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-To-Australia-From-Cincinnati/">Flights To Australia From Cincinnati</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-North-Carolina-To-Australia/">Flights From North Carolina To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-Seattle-To-Australia/">Flights From Seattle To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-San-Francisco-To-Australia/">Flights From San Francisco To Australia</a>
   
 </li>
   
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-Pakistan-To-Australia/">Flights From Pakistan To Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-From-Dallas-To-Australia/">Flights From Dallas To Australia</a>
   
 </li>
   

                                                                                            
    </ul>
</nav>