<nav class="smallfont">
    <ul class="nav">
        <li>
            <a href="/australia-flights/">Australia Flights</a>
        </li>

















    

<li>
     
 <a href = "/australia-flights/Flights-from-LAX-to-Australia/">Flights from LAX to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Hawaii-to-Australia/">Flights from Hawaii to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-New-Zealand-to-Australia/">Flights from New Zealand to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/New-York-to-Australia-Flight/">New York to Australia Flight</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Miami-to-Australia/">Flights from Miami to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Guam-to-Australia/">Flights from Guam to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Florence-to-Australia/">Flights from Florence to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Egypt-to-Australia/">Flights from Egypt to Australia</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-Denver-to-Sydney/">Flights from Denver to Sydney</a>
   
 </li>
   

    

<li>
     
 <a href = "/australia-flights/Flights-from-the-USA-to-Australia/">Flights from the USA to Australia</a>
   
 </li>
   

                                        
    </ul>
</nav>