{% extends "base.html" %}
{% block travel %}  {% include "colombia-flights/colombia-base.html" %}{% endblock travel%}
{% block flag %}<img class="bodyphoto visainfodiv" src="/static/colombianflag.png">{% endblock flag%}
{% block travelphoto %} <img class="bodyphoto" src="/static/niceviewofcolombia.png">{% endblock %}


{% block widget %}
<div id="widget-holder">
    <script data-affilid="apophis51mexicotulum" data-to="CUN,tulum_mx" data-departure="2023-01-31_2023-02-28"
        data-transport-types="FLIGHT" data-background-primary-color="ffffff" data-background-secondary-color="fcfcff"
        src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
        </script>
</div>

{% endblock widget%}
<div class = "white">
    {% block visa %} <p class= "smallfont">Get Current Visa Information From <a href="https://www.visahq.com/colombia/"
            rel="sponsored">VisaHQ</a></p>
     {% endblock %}
    {% block h1 %}{% block title %}Cheap Flights to Medellin Colombia from New York{% endblock %}{% endblock %}
    
    {% block content %}

<p>Traveling from New York City to Medellin, Colombia has never been easier. The JFK airport in New York offers direct
    flights to the Medellin Jose Maria Cordova International Airport, with a few different airlines to choose from.</p>
<h2>Which Airlines Fly Direct from JFK to Medellin Airport?</h2>
<p>Travelers can choose from two different airlines to get from JFK to the Medellin Airport. American Airlines is the
    main carrier, offering direct flights from John F. Kennedy International Airport to the Jose Maria Cordova
    International Airport in Medellin, Colombia. American Airlines also offers connecting flights from other airports in
    the United States. In addition, Avianca Airlines also offers direct flights from JFK to Medellin.</p>
<h2>How Far is the Flight from JFK to Medellin Airport?</h2>
<p>The flight from John F. Kennedy International Airport in New York City to the Medellin Jose Maria Cordova
    International Airport is approximately 2,260 miles. The flight takes about 7 hours and 15 minutes.</p>
<h2>What's the Cheapest Day of the Week to Fly from New York to Medellin Jose Maria Cordova Intl?</h2>
<p>According to a recent survey of flight prices, the cheapest day of the week to fly from JFK to Medellin is Thursday.
    Prices for flights on Thursdays were found to be about 10% lower than the average price for flights throughout the
    week.</p>
<h2>JFK to Medellin Flight Time</h2>
<p>The flight time from JFK to Medellin is approximately 7 hours and 15 minutes. However, this can vary depending on the
    airline and the number of layovers. For direct flights from JFK to Medellin, the flight time is consistent.</p>

    <em>
        <strong>Before booking your trip, make sure to compare flights and prices to get the most out of your experience. To
            get started, check out FlightTicketFinder.com flight tracker for the best deals and discounts on <a
                href="/colombia-flights/">flights to Colombia.</a></strong>
    </em>
    </div>
    {% endblock %}