

<nav class = "smallfont">
    <ul class = "nav">
    <li>
      <a href = "/colombia-flights/">Colombia Flights</a>
    </li>
    <br>
    <li>
      <a href = "/colombia-flights/Exploring-Colombia-All-You-Need-to-Know-Before-You-Go/">colombia guide</a>
    </li>
    <li>
      <a href = "/colombia-flights/cheap-flights-to-colombia/">Cheap Colombia Flights</a>
    </li>
    <li> 
      <a href = "/colombia-flights/flights-to-colombia-from-london/">flights to colombia from london</a>
    </li>
      <a href = "/colombia-flights/american-airlines-flights-to-colombia/">American to Colombia Flights</a>
    </li>
    </ul>
  </nav>

