{% extends "base1.html" %}
{% block base %}
<div class = "flex item color section1">
  <p class  = "top-h1 less1 pointer"> Close Menu</p>
  <div>{% block flag %} {% endblock flag %}</div>
  <div>{% block visa %} {% endblock %}</div>
  <div>{% block travelphoto %} {% endblock travelphoto %}</div>
  <div>{% block travel %} {% endblock travel %}</div>
  <p class  = "top-h1 less1 pointer"> Close Menu</p>
</div>

  <div class="flex item color">
      
          <div class="f1 item">
          <h2 style="background-color: blueviolet;">Flight Data</h2>
          <div class = "loading" >
            <h3 style = "    background-color: aliceblue;
            "> Loading Fight Data</h3>
            <img src="/static/loading.gif">
          </div>
          {% block widget %} {% endblock %}

          <!-- 
          <img class="flightdata" src="../static/test1.png">-->
      </div> 
      <div class="f2 item">
          <h2 class=>Visa Information</h2>
    
          

          <div class="f3 item">
            <h2 class=>Travel Information</h2>
            
            <!--
            <img class="bodyphoto" src="../static/nice view of mexico.png">
            -->
  
        </div>
      </div>

      <div class="f4 color item">
          
          {% block content %}
          {% endblock %}
      </div>
  </div>
</body>
</html>
{% endblock %}