{% extends "base1.html" %}
{% block base %}
  <div class="flex item color">
      
          <div class="f1 item">
          <h2 style="background-color: blueviolet;">Flight Data</h2>
          <div class = "loading" >
            <h3 style = "    background-color: aliceblue;
            "> Loading Fight Data</h3>
            <img src="/static/loading.gif">
          </div>
          {% block widget %} {% endblock %}

          <!-- 
          <img class="flightdata" src="../static/test1.png">-->
      </div> 
      <div class="f2 item">
          <h2 class=>Visa Information</h2>
                    <!-- 

          <img class="bodyphoto" src="../static/mexicoflag.png">
          -->
          {% block flag %} {% endblock %}
          {% block visa %} {% endblock %}

          <div class="f3 item">
            <h2 class=>Travel Information</h2>
            {% block travelphoto %} {% endblock %}
            
            <!--
            <img class="bodyphoto" src="../static/nice view of mexico.png">
            -->
            {% block travel %} {% endblock travel%}
  
        </div>
      </div>

      <div class="f4 color item">
          
          {% block content %}
          {% endblock %}
      </div>
  </div>
</body>
</html>
{% endblock %}