{% extends "base1.html" %}
{% block base %}
<p class  = "less1 pointer bigfont " style="text-align: center; align-items: center; justify-content: center;"> Close Menu</p>
<p class  = "less3 pointer bigfont " style="text-align: center; align-items: center; justify-content: center;"> Close Menu</p>


<div class = "flex color " style = "justify-content: center; margin-left: 5%; margin-right: 5%;">
  <div class = "section1"  style = " object-fit:fill; " ><h2 >Visa Information</h2><div style = " min-width: 100%;" >{% block flag %}{% endblock flag %}{% block visa %} {% endblock %}</div></div>
  <div class= "section3" style = "width:340px;" > <h2>Travel Blogs</h2> <div>{% block travelphoto %}{% endblock travelphoto %}{% block travel %} {% endblock travel %}</div></div>

</div>
<script>
  $(document).ready(function(){$(".expand").addClass("hide");})
  $(document).ready(function(){$(".expandtext").click(function(){$(".expand").toggleClass("hide");});});
  </script>

<p class  = "f2 less1 less3 pointer bigfont " style="text-align:center"> Close Menu</p>
<div class = "expand smallfont white" style="background-color: aliceblue; padding-left: 8%;padding-right: 8%;"> 
  {% block content %}
  {% endblock content %}
  <div class ="expandtext pointer more2"><p class = "bigfont" style = "text-align: center; color:black">+ Expand</p></div>
  <div class ="expandtext pointer less2"><p class = "bigfont" style = "text-align: center; color:black">- Less</p></div>
  </div>
  <div class="flex item color">
          <div class="f1 item ">
          <h2 style="background-color: rgb(0,169,145);">Flight Data</h2>
          <div class = "loading" >
            <h3 style = "    background-color: aliceblue;
            "> Loading Fight Data</h3>
            <img src="/static/loading.gif">
          </div>
          
          <div class="borderradius100">  
            
          {% block widget %} {% endblock %}
          </div>>
          <!-- 
          <img class="flightdata" src="../static/test1.png">-->
      </div> 
      <div class="f2 item">
          
    
          

          <div class="f3 item">
            <h2 class=>Travel Information</h2>
            
            <!--
            <img class="bodyphoto" src="../static/nice view of mexico.png">
            -->
  
        </div>
      </div>

      <div class="f4 color item">
          
          
      </div>
  </div>
</body>
</html>
{% endblock %}