{% extends "base1.html" %}
{% block base %}
  <div class="flex item color">
      
          <div class="f1 item">
            <p>At Bussinflights.com, our mission is to provide convenient and affordable flight options to any destination in the world, so that travelers can explore new destinations and cultures with ease and confidence. We strive to make the entire travel experience as affordable and stress-free as possible, while still providing a high-quality service with excellent customer service. We are dedicated to providing our customers with the best possible experience, and to helping them enjoy their travels without financial worries.</p>
            <div id="widget-holder">
            <script 
            data-affilid="apophis51widget1" 
            data-results-only="true" 
            src="https://widgets.kiwi.com/scripts/widget-search-iframe.js">
            </script>
            </div>
          </div> 
      <div class="f2 item">
          <h2 class=>Popular Destinations</h2>
          <img class="bodyphoto" src="../static/nice view of mexico.png">
          <nav>
            <ul class = "nav">

            <li>
              <a href = "/tulum-mexico/">Tulumn Mexico</a>
            </li>
            </ul>
          </nav>
          <div class="f3 item">
            <h2 class=>Visa Information</h2>
            <img class="bodyphoto" src="../static/plane1.jpg">

  
        </div>
      </div>

      <div class="f4 color item">
          <img class="bodyphoto" src="../static/nice view of mexico.png">
          {% block content %}
          {% endblock %}
      </div>
  </div>
</body>
</html>
{% endblock %}