<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
    {%extends "base.html" %}
    {% block content %}
        <img src="{{url_for('static', filename='lambo.png')}}" style="width:500px">

    <h2>What Up little Hommie</h2>
     <p>do you want to sign up? </p>
     <a href="../signup/">sign up</a>




  </head>
  <style>
  </style>
  <body>


  <ul>


  </ul>




  </body>
</html>
{% endblock %}
